<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackICE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="topbar">
   <div class="logo">
    <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="BlackICE Logo">
    <span>Black</span><span class="ice">ICE</span>
</div>

    <nav class="nav">
    <a href="/password">Password</a>
    <a href="/hash">Hashing</a>
    <a href="/phishing">Phishing</a>
    <a href="/file">File Analyzer</a>

    {% if current_user.is_authenticated %}
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
</nav>

</header>

<main class="hero">
    <div class="hero-content">
        <h1 class="hero-title">BlackICE</h1>
        <p class="hero-subtitle">
            Learn cybersecurity by using real tools.
        </p>

        <div class="tool-cards">

            <div class="tool-card">
                <h3>Password Security</h3>
                <p>Check password strength and risks</p>
                {% if current_user.is_authenticated %}
                    <a href="/password" class="tool-btn">Use Tool</a>
                {% else %}
                    <a href="/login" class="tool-btn lock">Login to Use</a>
                {% endif %}
            </div>

            <div class="tool-card">
                <h3>Hash Generator</h3>
                <p>Generate SHA-256 hashes</p>
                {% if current_user.is_authenticated %}
                    <a href="/hash" class="tool-btn">Use Tool</a>
                {% else %}
                    <a href="/login" class="tool-btn lock">Login to Use</a>
                {% endif %}
            </div>

            <div class="tool-card">
                <h3>Phishing Detector</h3>
                <p>Check suspicious links</p>
                {% if current_user.is_authenticated %}
                    <a href="/phishing" class="tool-btn">Use Tool</a>
                {% else %}
                    <a href="/login" class="tool-btn lock">Login to Use</a>
                {% endif %}
            </div>

            <div class="tool-card">
                <h3>File Analyzer</h3>
                <p>Scan files for risks</p>
                {% if current_user.is_authenticated %}
                    <a href="/file" class="tool-btn">Use Tool</a>
                {% else %}
                    <a href="/login" class="tool-btn lock">Login to Use</a>
                {% endif %}
            </div>

        </div>
    </div>
</main>
</body>
</html>
